# TP2: Regression logistique

## 1. Recuperation des données
Les données sont stocker dans le fichier banking.csv. Ce dataset contient des information collecter par un centre d'appel pour savoir si un client souscrira (1/0) à un dépôt à terme (variable y) dans une baque.

1-Recuperer les données de ce fichier dans un DataFrame data

2-Afficher les 10 premiere ligne de ce dataframe

3-Afficher le nombre de client par class (1/0)

In [2]:
import pandas as pd

In [3]:
#Recuperer les données de ce fichier dans un DataFrame data
df = pd.read_csv('banking.csv')

#Afficher les 10 premiere ligne de ce dataframe
df.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1
5,30,management,divorced,basic.4y,no,yes,no,cellular,jul,tue,...,8,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,0
6,37,blue-collar,married,basic.4y,no,yes,no,cellular,may,thu,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,0
7,39,blue-collar,divorced,basic.9y,no,yes,no,cellular,may,fri,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
8,36,admin.,married,university.degree,no,no,no,cellular,jun,mon,...,1,3,1,success,-2.9,92.963,-40.8,1.266,5076.2,1
9,27,blue-collar,single,basic.4y,no,yes,no,cellular,apr,thu,...,2,999,1,failure,-1.8,93.075,-47.1,1.410,5099.1,0

In [4]:
#Afficher le nombre de client par class (1/0)
df.groupby('y')['y'].count()

y
0    36548
1     4640
Name: y, dtype: int64

### 2- Entrainement et test du modèle
Dans un premier lieux, nous allons utiliser comme critères de classifiction suivants:
"age": l'age du client
"emp_var_rate": employment variation rate
"cons_conf_idx": consumer confidence index

1- Creer deux numpy array X et y

X: les trois colonne "age","emp_var_rate" et "cons_conf_idx"

y: "y"

2- Nous allons utiliser **80%** du dataSet pour l'entrainement et **20%** pour le teste du modèle. utiliser la méthode **train_test_split()** du module **sklearn.model_selection** pour créer ces deux sous ensembles (X_train,X_test,y_train,y_test).

3- Creer un objet **LogisticRegression** du module **sklearn.linear_model** et utiliser **(X_train,y_train)** pour entrainer le model à l'aide la méthode **fit()** du même objet.

4- Utiliser la méthode **predict(X_test)** pour predire les classe des élément de X_test : y_pred

5- Les performences du modele sont alors mesurer à l'aide 4 metriques:
**TP: Nombre de True positives y_test==y_pred==1**

**TN: Nombre de True negatives y_test==y_pred==0**

**FP: Nombre de False positives y_test!=y_pred==1**

**FN: Nombre de False negatives y_test!=y_pred==0**


**$$Accuracy = (TP+TN)/(TP+TN+FP+FN) $$**

Calculer la precision de ce modèle?

6- Ces 4 metriques forment ce qu'on appel une **Confusion Matrix** disponible comme méthode dans le module **sklearn.metrics** :  **Confusion Matrix(y_test, y_pred)**

Recalculer precision de ce modèle on utilisant cette matrice de confusion

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [53]:
#X = df[['age' , 'emp_var_rate' , 'cons_conf_idx']].to_numpy()
y = df['y'].to_numpy()

X_train , X_test , y_train , y_test = train_test_split(X,y,train_size = 0.8 , test_size = 0.2)

LogReg = LogisticRegression()
LogReg.fit(X_train,y_train)

y_pred = LogReg.predict(X_test)

In [5]:
df.drop(columns = ['age' , 'emp_var_rate' , 'cons_conf_idx'])

array([[ 44. ,   1.4, -36.1],
       [ 53. ,  -0.1, -42. ],
       [ 28. ,  -1.7, -39.8],
       ...,
       [ 42. ,   1.1, -36.4],
       [ 48. ,  -3.4, -26.9],
       [ 25. ,   1.1, -36.4]])

In [54]:
cm = confusion_matrix(y_test , y_pred)
cm

array([[7239,   40],
       [ 931,   28]], dtype=int64)

In [55]:
TP = cm[0][0]
FP = cm[1][0]
TN = cm[1][1]
FN = cm[0][1]
Accuracy = (TP+TN)/(TP+TN+FP+FN)
Accuracy

0.8821315853362467

### 3- prediction
Voici des information de trois clients:

client1:  {"age": 55, "emp_var_rate": -2.9, "cons_conf_idx": 31.4}

client2:  {"age": 45, "emp_var_rate": 3.7,"cons_conf_idx": 4}

client3:  {"age": 39, "emp_var_rate": 3.3,"cons_conf_idx": 6}

1- Créer un DataFrame à partir de ce données

2- Lequel de ces client souscrira à un dépôt à terme

In [57]:
#Créer un DataFrame à partir de ce données
data = pd.DataFrame([{"age": 55, "emp_var_rate": -2.9, "cons_conf_idx": 31.4},
              {"age": 45, "emp_var_rate": 3.7 , "cons_conf_idx": 4},
              {"age": 39, "emp_var_rate": 3.3 , "cons_conf_idx": 6}])

#Lequel de ces client souscrira à un dépôt à terme
pred = LogReg.predict(data)
data['pred'] = pred

#Lequel de ces client souscrira à un dépôt à terme
print(data[pred==1])

   age  emp_var_rate  cons_conf_idx  pred
0   55          -2.9           31.4     1